* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgAylqM5IdF737Igv3a4DVkp1jEJ8L-wFIBQ&usqp=CAU)
    no-repeat center center fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  color: beige;
  font: bold;
  text-shadow: black;
}

/* use 100% width and height and visibility hidden so that it does not appear before I click the button. */

/* Carousal*/

.images img:first-of-type {
  display: block;
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide {
  display: none;
  text-align: center;
  position: relative;
}

.slide:first-of-type {
  display: block;
}

.btn {
  position: relative;
  top: auto;
  width: max-content;
  height: fit-content;
  z-index: 10;
  cursor: pointer;
  background-color: beige;
  font-size: small;
  padding: 10px;
  text-align: center;
}

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: darksalmon;
  opacity: 1;
  visibility: hidden;
}

/* position the actual modal in the center of the screen, with a border radius and padding. */

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: bisque;
  padding: 1rem 1.5rem;
  width: 24rem;
}

/* close the modal, with a x button at the to right corner, when hover over the x it changes colors */

.close {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}

.close:hover {
  background-color: darkgray;
}

/* style of the modal when it's open */

.show-modal {
  opacity: 1;
  visibility: visible;
}
